name: Build, test and deploy ASP.Net Core app to Azure Web App - dataplatform

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    services:
      docker:
        image: docker:24.0.7-dind
        options: --privileged
        ports:
          - 2375:2375

    env:
      DOCKER_HOST: tcp://localhost:2375
      DOTNET_ENVIRONMENT: Test
      TESTCONTAINERS_RYUK_DISABLED: false
      TESTCONTAINERS_CHECKS_DISABLE: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Run integration tests (Testcontainers)
        run: dotnet test --configuration Release --no-build --verbosity normal

      - name: Publish
        run: dotnet publish -c Release -o ${{ env.DOTNET_ROOT }}/myapp

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{ env.DOTNET_ROOT }}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build-test

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: .net-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A8DCB017F9D44F02B707A9636FC8B10B }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_299721604E50485B8531D3A117D38AF7 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_8C15BC21BA8E47F5A6CE84C451E12B67 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: dataplatform
          slot-name: Production
          package: .